---
import { ViewTransitions } from 'astro:transitions';

import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />
    <ViewTransitions />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <style>
      /* Estilo personalizado para el fondo de la imagen */
      .bg-img {
        background-image: url('/assets/images/landing-background.png'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center; /* Centra la imagen */
      }
    </style>
  </head>
  <body class='bg-img bg-black text-gray-100' transition:animate='slide'>
    <Navbar />
    <slot></slot>
    <Footer />
  </body>
</html>
